In [1]:
import cobra

In [5]:
eduard = cobra.io.read_sbml_model("data/ihGlycopastoris_rewritten.xml")

In [6]:
eduard

In [7]:
eduard.optimize()

In [9]:
eduard.summary()

In [10]:
eduard.metabolites.m2

In [11]:
eduard.reactions.r1145

So also we see that the main uptake is from glucose, also with ub of 1.0. So, we will do the same as before and stop the uptake of glucose to change it to methanol. So, we start looking for the methanol uptaking reaction.

In [12]:
eduard.reactions.query("methanol", "name")

In [13]:
eduard.reactions.r1158

So, so far it is exactly the same as iLC915

In [15]:
eduard_methanol = eduard.copy()
eduard_methanol.reactions.r1145.bounds = 0, 0  # no glucose 
eduard_methanol.reactions.r1158.bounds = 0, 10

In [17]:
eduard_methanol.summary()